@charset "UTF-8";
body{
  background-color: #ace2b7;
}
h2{
  margin-top: 30px;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
p{
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
.aaa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.ptext{
  border: solid 1px;
  font-family: 'Noto Serif JP', serif;
}
.button{
  background : #f1f1f1 ;
  padding : 0.1em 0.5em ;
  border : solid 1px #b3b3b3 ;
  border-top : solid 1px #e0e0e0 ;
  border-bottom : solid 1px #717171 ;
}
.ans{
  text-align: center;
  font-family: 'Noto Serif JP', serif;
}
.fome{
  margin-top: 180px;
  width:100%;
  height:630px;
}
footer{
  background: #333;
  text-align: center;
  padding: 26px; 0;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}
